.signup-modal {
	width: 347px;
}

.signup-modal__title {
	font-size: 1.7rem;
	text-align: center;
	margin-bottom: 1rem;
}

.signup-modal__form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1rem;
}

.signup-modal__signup-btn,
.signup-modal__disabled-btn {
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 0.3rem 0.8rem;
	margin-top: 0.5rem;
}

.signup-modal__signup-btn {
	background-color: hsl(343, 77%, 51%);
}

.signup-modal__disabled-btn {
	background-color: hsl(0, 0%, 56%);
}
