.group-details__group-section {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	gap: 2rem;
}

.group-details__group-info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.group-details__group-info {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.group-details__group-status-container {
	display: flex;
	gap: 0.5rem;
}

.group-details__breadcrumb {
	margin-bottom: 1rem;
	display: flex;
	gap: 0.3rem;
}

.group-details__group-image {
	width: 100%;
	height: 100%;
}

.group-details__join-group-btn {
	background-color: hsl(343, 77%, 51%);
	color: #fff;
	padding: 0.3rem 0.6rem;
	border-radius: 5px;
	border: none;
}

.group-details__more-details-section {
	margin-top: 2rem;
	padding: 1rem 5rem;
	background-color: rgb(221, 221, 221);
}

.group-details__more-details-container {
	width: 50%;
	margin: 0 auto;
}

.group-details__action-btns {
	display: flex;
	gap: 0.5rem;
}

.group-details__action-btns > * {
	color: #fff;
	padding: 0.3rem 0.6rem;
	border-radius: 5px;
	border: none;
}

.group-details__delete-btn {
	background-color: hsl(343, 77%, 51%);
	cursor: pointer;
}

.group-details__create-event-btn {
	background-color: hsl(188, 96%, 28%);
}

.group-details__update-group-btn {
	background-color: hsl(188, 96%, 28%);
}
