.main-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 3rem auto;
	width: 50%;
	gap: 4rem 2rem;
}

.main-content__title-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-content__title-section > h1 {
	font-size: xx-large;
}

.main-content__meetup-works-section {
	margin-top: 1rem;
	grid-column: span 2;
	text-align: center;
}

.main-content__meetup-works-section > p {
	width: 50%;
	margin: 0 auto;
}

.main-content__cards-section {
	grid-column: span 2;
}

.main-content__cards-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	text-align: center;
}

.main-content__cards-container img {
	height: 152px;
}

.main-content__cards-container > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-content__cards-container > div a {
	text-decoration: underline;
}

.main-content__join-meetup-section {
	grid-column: span 2;
	margin: 0 auto;
}

.main-content__join-meetup-btn {
	padding: 0.3rem 0.6rem;
	background-color: hsl(188, 96%, 28%);
	color: #fff;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.main-content__start-group-link-disabled {
	color: gray;
}
