.start-group {
	max-width: 875px;
	margin: 2rem auto;
	text-align: left;
	font-size: larger;
}

.start-group > section:not(:last-child) {
	border-bottom: 1px solid black;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	margin-bottom: 1rem;
}

.start-group > :last-child {
	padding: 1rem;
}

.start-group__submit-btn {
	background-color: hsl(343, 77%, 51%);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 0.3rem 0.6rem;
	box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.3);
	font-size: 1rem;
}

.start-group__group-desc-prompts {
	margin-left: 1.2rem;
}

.start-group input,
textarea {
	width: 372px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 0px 2px hsla(0, 0%, 0%, 0.3);
	padding: 0.2rem 0.3rem;
}

select,
input,
textarea {
	margin-bottom: 0.3rem;
}

.start-group__group-type-container :first-child,
.start-group__group-status-container :first-child {
	margin-bottom: 0.2rem;
}

.start-group__heading > h3 {
	font-size: 1rem;
	color: rgb(122, 122, 122);
}
