.events-view {
	margin: 5rem auto;
	max-width: 60%;
}

.events-view__group-event-selection-section {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	padding-bottom: 1rem;
}

.events-view__title-container {
	display: flex;
	gap: 0.9rem;
}

.events-view__title-container .active {
	color: teal;
	text-decoration: underline;
}

.events-view__title-container .inactive {
	color: rgb(110, 110, 110);
}

.card {
	display: flex;
	gap: 2rem;
	border-top: 1px solid gray;
	padding: 1rem;
	cursor: pointer;
}

.card__info-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card__date-info {
	display: flex;
	gap: 0.6rem;
}

.card__img-container {
	display: flex;
	align-items: center;
}

.card__img {
	min-width: 100px;
	min-height: 100px;
}

.card__location {
	font-size: 12px;
	color: rgb(110, 110, 110);
}

.card__group-about {
	font-size: 10px;
}

.card__status-info {
	display: flex;
	gap: 0.5rem;
	color: rgb(110, 110, 110);
}
