.events-view {
	margin: 5rem auto;
	max-width: 60%;
}

.events-view__group-event-selection-section {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	padding-bottom: 1rem;
}

.events-view__title-container {
	display: flex;
	gap: 0.9rem;
}

.events-view__title-container .active {
	color: teal;
	text-decoration: underline;
}

.events-view__title-container .inactive {
	color: rgb(110, 110, 110);
}
