@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	margin: 1rem;
	font-family: 'Roboto';
}

.error-view {
	font-size: 10px;
	color: rgb(235, 40, 40);
}

button {
	cursor: pointer;
}
