.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid gray;
	padding: 1rem;
}

.fa-user-circle {
	color: hsl(343, 77%, 51%);
	font-size: 20px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.header__profile-btn {
	margin-right: 5px;
}

.header__profile-btn-arrow {
	cursor: pointer;
}

.profile-dropdown {
	width: fit-content;
	box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 0.5rem;
	font-size: 12px;
	position: absolute;
	right: 1rem;
	top: 2.5rem;
	z-index: 10;
}

.header__dropdown-container {
	display: flex;
	gap: 0.5rem;
}

.header__dropdown-logout-btn {
	border-top: 1px solid black;
}

.header__greetup-home-link {
	color: hsl(343, 77%, 51%);
}
