.fa-user-circle {
	color: hsl(343, 77%, 51%);
	font-size: 20px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.profile-dropdown {
	width: fit-content;
	box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 0.5rem;
	font-size: 12px;
}

.dropdown-container {
	display: flex;
	gap: 0.5rem;
}
