.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1.2px solid rgb(165, 165, 165);
	padding: 0.8rem;
	list-style: none;
	position: relative;
	z-index: 1;
}

.header__greetup-home-link {
	font-weight: 900;
	font-size: 2rem;
	color: hsl(343, 77%, 51%);
}

.fa-user-circle {
	color: hsl(343, 77%, 51%);
	font-size: 2rem;
	cursor: pointer;
}

.hidden {
	display: none;
}

.header__action-btn-container {
	display: flex;
	gap: 1rem;
	font-size: 1rem;
	align-items: center;
}

.header__action-btn-container > li {
	cursor: pointer;
}

.header__action-btn:last-child {
	padding: 0.3rem 0.6rem;
	border-radius: 5px;
	color: #fff;
	background-color: hsl(188, 96%, 28%);
}

.header__profile-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header__profile-btn-container {
	cursor: pointer;
}

.header__start-group {
	font-size: 1rem;
	cursor: pointer;
}

.header__profile-btn {
	margin-right: 5px;
}

.header__profile-btn-arrow {
	color: rgb(189, 189, 189);
	position: relative;
	bottom: 5px;
}

.profile-dropdown {
	box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.2);
	border: 2px solid black;
	border-radius: 5px;
	padding: 0.5rem;
	font-size: 1rem;
	position: absolute;
	right: 1rem;
	top: 3.5rem;
	z-index: 100;
	list-style: none;
}

.profile-dropdown > li:not(.header__dropdown-logout-btn) {
	margin-bottom: 0.3rem;
}

.profile-dropdown > li:nth-child(3),
.profile-dropdown > li:nth-child(5) {
	cursor: pointer;
}

.header__dropdown-container {
	display: flex;
	gap: 0.5rem;
}

.header__dropdown-logout-btn {
	border-top: 1px solid black;
	padding-top: 0.3rem;
}
