.login-modal {
	text-align: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.login-title {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.login-input-container {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.login-input-label {
	margin-right: 1rem;
	font-size: 1.3rem;
	text-align: left;
}

.login-btn {
	background-color: hsl(343, 77%, 51%);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 0.3rem 0.8rem;
	font-size: 1.2rem;
}

.login-btn-disabled {
	background-color: hsl(0, 0%, 73%);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 0.3rem 0.8rem;
	font-size: 1.2rem;
	cursor: not-allowed;
}

.demo-user-btn {
	margin-top: 0.5rem;
	padding: 0.4rem 0.8rem;
	background-color: hsl(188, 96%, 28%);
	border-radius: 5px;
	border: none;
	color: #fff;
}
